# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
package/

# Environments
.venv/
.env

# Tooling
.pytest_cache/
.ruff_cache/
.mypy_cache/

# OS
.DS_Store

services/mcp/ayon_mcp/tools/openapi_generated/*

# LLM agent test reports
tests/reports/
